<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <div class="site-name">
      {{ site.title }}
    </div>
    <img class="site-logo" src="/assets/Vincent-Billey.jpg" />
  </a>

  <div class="header-group">
    <nav class="site-nav">
      <a class="page-link" href="/resume" target="_blank">Resume</a>
      <a class="page-link" href="/talks/">Talks</a>
      <a class="page-link" href="/about/">About</a>
      <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}

      {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      {% endif %}
    </nav>

    <div class="footer">
        <p>{{ site.description }}</p>
    </div>
  </div>

</header>
