<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% if page.cover %}
      <div class="cover" style="
        background-image: url(/assets/{{ page.cover }}); {% if page.cover_position %}
        background-position: {{ page.cover_position }}{% endif %}"
      >
          {% include header.html %}
    </div>
    {% endif %}


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="js/main.js"></script>
  </body>

</html>
