<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="home-cover">
      {% include header.html %}
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

<!--
    <footer>
      <header>Contact me</header>
      <form action="//formspree.io/vincent.billey+contact@gmail.com" method="POST">
        <input type="hidden" name="_subject" value="Contact from billey.me" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="text" placeholder="Your name" name="name">
        <input type="email" placeholder="Your email" name="_replyto">
        <textarea name="message" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 222px;"></textarea>
        <input type="submit" value="Send">
      </form>
    </footer>
-->

    <script src="js/main.js"></script>
  </body>

</html>
